*{
    margin: 0;
    padding:0;
}
/* 10px solid rgba(0,255,0,0.5) */
.income{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 18vh;
    width:25vw;
    border-bottom: 10px solid rgba(0,255,0,0.5);
    background-color: white;
    border-radius:4px;
    padding:1rem;
    transition: 0.3s ease-in-out;
}
.expense{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 18vh;
    width:25vw;
    border-bottom: 10px solid rgba(255,0,0,0.5);
    background-color: white;
    border-radius:4px;
    padding:1rem;
    transition: 0.3s ease-in-out;
}