.main__con{
    height: auto;
    width:25vw;
    /* border-bottom: 10px solid rgba(0,255,0,0.5); */
    background-color: white;
    border-radius: 4px;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main__heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;

}
.main__tip{
    margin-top: 5%;
    color: darkslategray;
    font-size:12px;
}